<div class="text-center">
  <h1><%= @cocktail.name %></h1>

  <% @cocktail.doses.each do |dose| %>
    <li>
      <%= dose.description + " de " + dose.ingredient.name %>
    </li>
  <% end %>

  <%= simple_form_for [@cocktail, @dose] do |f| %>
    <%= f.input :description, placeholder: "6 cl" %>
    <%= f.input :ingredient_id, collection: Ingredient.all, prompt: "Choose" %>
    <%= f.button :submit, class: "btn-btn-primary" %>
  <% end %>


  <%= link_to 'Back', cocktails_path %>

</div>





